$unige-primary-red: #d80669;
$unige-primary-red-contrast: #FFFFFF;

$unige-light-background: #F5F4F5;
$unige-dark-background: #1F1F1F;

$unige-light-surface: #F8F8F8;
$unige-dark-surface: #3D3D3D;

$unige-light-text-primary: #3D3D3D;
$unige-dark-text-primary: #EFEFEF;

$unige-light-text-secondary: #7E7E7E;
$unige-dark-text-secondary: #9E9E9E;

$unige-light-border-soft: #D8D8D8;
$unige-dark-border-soft: #3D3D3D;